<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="{{ htmlLang }}"><![endif]-->
<!--[if gt IE 8]><!--><html lang="{{ htmlLang }}"><!--<![endif]-->
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title></title>

    <script type="text/javascript">
      (function(){if(navigator.userAgent.match(/IEMobile\/10\.0/)){var d=document,c="appendChild",a=d.createElement("style");a[c](d.createTextNode("@-ms-viewport{width:auto!important}"));d.getElementsByTagName("head")[0][c](a);}})();
    </script>

    <!--[if gt IE 8]><!--><link href="assets/stylesheets/govuk-template.css?0.8.1" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->
    <!--[if IE 6]><link href="assets/stylesheets/govuk-template-ie6.css?0.8.1" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 7]><link href="assets/stylesheets/govuk-template-ie7.css?0.8.1" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 8]><link href="assets/stylesheets/govuk-template-ie8.css?0.8.1" media="screen" rel="stylesheet" type="text/css" /><![endif]-->

    <link href="assets/stylesheets/govuk-template-print.css?0.8.1" media="print" rel="stylesheet" type="text/css" />

    <!--[if IE 8]>
    <script type="text/javascript">
      (function(){if(window.opera){return;}
       setTimeout(function(){var a=document,g,b={families:(g=
       ["nta"]),urls:["assets/stylesheets/fonts-ie8.css?0.8.1"]},
       c="assets/javascripts/vendor/goog/webfont-debug.js?0.8.1",d="script",
       e=a.createElement(d),f=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
       ={custom:b},e.src=c,f.parentNode.insertBefore(e,f);for(;h=h-1;a.documentElement
       .className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
      })()
    </script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
      <link href="assets/stylesheets/fonts.css?0.8.1" media="all" rel="stylesheet" type="text/css" />
    <!--<![endif]-->

    <!--[if gt IE 8]><!--><link href="assets/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->


    <!--[if lt IE 9]>
      <script src="assets/javascripts/ie.js?0.8.1" type="text/javascript"></script>
    <![endif]-->

    <link rel="shortcut icon" href="assets/images/favicon.ico?0.8.1" type="image/x-icon" />

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/images/apple-touch-icon-144x144.png?0.8.1">
    <!-- For iPhone with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/images/apple-touch-icon-114x114.png?0.8.1">
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/images/apple-touch-icon-72x72.png?0.8.1">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="assets/images/apple-touch-icon-57x57.png?0.8.1">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="assets/images/opengraph-image.png?0.8.1">
  </head>

  <body>

    <main>
      <div class="logo">
          <img src="assets/images/govuk_crown.svg" alt=""> GOV.UK
      </div>
    </main>

  </body>
</html>
